{% extends 'layout.html' %}

{% block title %}
    메인
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../../static/main.css">
{% endblock %}

{% block body %}
    <div id="main">
        <h1>ERICA Trend</h1>
        <form action="{{ url_for('search.process') }}" method="get">
            <div id = "search_box" class="input-group mb-3">
                <input name="search_words" type="text" class="form-control" placeholder="검색어" aria-label="Search Input" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary" id="button-addon2"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <div id="tool_box">
            <a href="{{ url_for('search.compare') }}"><i class="fas fa-crosshairs"></i> 비교 검색하기</a>
        </div>
    </div>
{% endblock %}