{% extends 'layout.html' %}

{% block title %}
메인
{% endblock %}

{% block head %}
<link rel="stylesheet" href="../../static/main.css">
<link rel="stylesheet" type="text/css" href="../../static/webslides.css"/>
<script type="text/javascript" src="../../static/webslides.js"></script>

<script type="text/javascript" src="../../static/webslides.min.js"></script>
{% endblock %}

{% block body %}
<article id="webslides">

	<section class="bg-white aligncenter slide">
		<h1>ERICA Trend</h1>
		<form action="{{ url_for('search.process') }}" method="get">
			<div id = "search_box" class="input-group mb-3">
				<input name="search_words" type="text" class="form-control" placeholder="검색어" aria-label="Search Input" aria-describedby="button-addon2">
				<div class="input-group-append">
					<button type="submit" class="btn btn-outline-secondary" id="button-addon2"><i class="fas fa-search"></i></button>
				</div>
			</div>
		</form>
		<div id="tool_box">
			<a href="{{ url_for('search.compare') }}"><i class="fas fa-crosshairs"></i> 비교 검색하기</a>
		</div>
	</section>
	<section class="bg-gradient-gray slideInRight">

		<!-- .wrap = container 1200px -->

		<div class="wrap size-70">

			<h2><strong>Scenario #1</strong></h2>

			<p>고객에게는 브랜드 / 가격대별 정보를 제공하여 제품 트렌드를 따라갈수 있도록, </p>

			<hr>

			<div class="bg-white shadow">

				<ul class="flexblock reasons">

					<li>

						<h2>브랜드별 장단점을 제시합니다.</h2>

						<p>소비자가 제품에 대한 지식이 전무한 상태라면 어떤 노트북을 골라야하는지 어려움에 닥칠 것입니다.

						적어도 브랜드가 갖는 특성을 한 눈에 알 수만 있다면, 스스로가 원하는 그리고 트렌드를 따르는 제품을

						찾을 수 있을 것입니다.</p>

					</li>

					<li>

						<h2>가격대별 장단점을 제시합니다.</h2>

						<p>결국 성능과 직결되는 것은 가격입니다. 우리는 갖고있는 예산 안에서 분명 제품의 옵션과 타협을

						봐야하는데, 가격대 별로 갖는 특성을 한 눈에 볼 수 있다면 효율적으로 제품을 고를 수 있을 것입니다.</p>

					</li>

				</ul>

				<a href="/search/compare" class="button radius alignright" title="Button">기능 시연</a>

			</div>

		</div>

	</section>
	<section class="fullscreen slideInRight">
		<div class="card-50">
			<img src="/static/review.png">
			<div class="flex-content">
				<h2><strong>Scenario #2</strong></h2>
				<p>제조사에게는 사용자 경험을 한 눈에 제공하여, 빠르고 정확한 피드백을</p>
				<a href="#slide=5" style="text-decoration: none;">
					<h1>Without ERICA Trend</h1>
				</a>
				<hr>
				<p>쇼핑몰 리뷰보고, 엑셀에 장/단점 정리하고, 홍보글 구분하고..</p>
				<p><strong>물건 하나 사는데, 왜 이렇게 따질 건 많을까요?</strong></p>
			</div>
		</div>

	</section>
	<section class="fullscreen slideInRight">
		<div class="card-50">
			<div class="flex-content">
				<h2><strong>Scenario #2</strong></h2>
				<p>제조사에게는 사용자 경험을 한 눈에 제공하여, 빠르고 정확한 피드백을</p>
				<a href="/search/detail?newegg_id=34-233-237" style="text-decoration: none;">
					<h1>With ERICA Trend</h1>
				</a>
				<hr>
				<p>이제 <strong>ERICATREND</strong>에서 제품명만 입력하세요.<br>리뷰 분석, 가격 동향, 별점분석, 한 번에 해드립니다.<br>
				<strong>이제 물건을 사느라 당신의 소중한 시간을 낭비하지 마세요.</strong>
				</p>

			</div>
			<img src="/static/kibana.png">

		</div>

	</section>
	<section class="bg-light slideInRight slide-top">

		<!-- .wrap = container 1200px -->

		<div class="grid sm size-80">

			<div class="column">

				<h2><strong>Scenario #2 </strong></h2>

				<h2>Without<br>ERICA Trend</h2>

				<p>I Don't Wanna Do This All Day..</p>

			</div>

			<div class="column">

				<ul class="work">

					<li class="work-label">

						<p class="work-title">Product</p>

						<p class="work-client">Pros</p>

						<p class="work-client">Cons</p>

						<p class="work-date">Date</p>

					</li>

					<li>

						<a href="#" rel="external">

							<p class="work-title">GIGABYTE</p>

							<p class="work-client">Battery, Screen, Keyboard..?</p>

							<p class="work-client">Cam Angle</p>

							<p class="work-date">190605</p>

						</a>

					</li>

					<li>

						<a href="#" rel="external">

							<p class="work-title">MSI</p>

							<p class="work-client">High Performance</p>

							<p class="work-client">WiFi..?</p>

							<p class="work-date">190603</p>

						</a>

					</li><li>

						<a href="#" rel="external">

							<p class="work-title">Asus ZenBook14</p>

							<p class="work-client">Light Weight, High Performance</p>

							<p class="work-client">Cooling</p>

							<p class="work-date">190602</p>

						</a>

					</li><li>

						<a href="#" rel="external">

							<p class="work-title">GIGABYTE</p>

							<p class="work-client">Battery, Screen, Keyboard..?</p>

							<p class="work-client">Cam Angle</p>

							<p class="work-date">190605</p>

						</a>

					</li><li>

						<a href="#" rel="external">

							<p class="work-title">Lenovo G50-45</p>

							<p class="work-client">..?</p>

							<p class="work-client">Keyboard</p>

							<p class="work-date">190601</p>

						</a>

					</li><li>

						<a href="#" rel="external">

							<p class="work-title">Lenovo Y50</p>

							<p class="work-client">Keyboard</p>

							<p class="work-client">Slow HDD</p>

							<p class="work-date">190531</p>

						</a>

					</li>

				</ul>

			</div>



		</div>

	</section>
</article>
<script>
	window.ws = new WebSlides();
</script>
{% endblock %}
