{% extends 'layout.html' %}

{% block title %}
    제품 상세 보기
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../../static/product_view.css">
    <link rel="stylesheet" href="../../static/compare.css">
    <!--Plugin CSS file with desired skin-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css"/>

    <!--Plugin JavaScript file-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>

    <script>
        $(function () {
            $(".js-range-slider").ionRangeSlider();
        });
    </script>
    <script>
    $(document).ready(function() {
        /*
        var a;
        a.load('{{ url_for('search.compare_process') }}', $(".search_form"));
        console.log(a);
        */
        $(".search_form").submit(function (event) {
            event.preventDefault();
            var send_url = $(this).attr("action");
            var send_data = $(this).serialize();

            $.post(send_url, send_data)
                .done(function (data, status) {
                    $("#result").empty();
                    var html_dom  = new DOMParser().parseFromString(data, 'text/html');
                    $("#result").hide().append("<div id=\"result_box\"></div>").fadeIn('slow');
                    var items = html_dom.body.firstElementChild.children;

                    var interval_max = parseInt(String((items.length - 3) / 2));
                    var interval_n = 0;

                    //최초
                    var draw_element = items[0].outerHTML + items[1].outerHTML + items[2].outerHTML;
                    $(document.getElementById('result_box')).append(draw_element);

                    $("#loading").show();

                    var intervalid = setInterval(function () {
                        draw_element = items[(interval_n*2) + 3].outerHTML + items[(interval_n*2) + 4].outerHTML;
                        $(document.getElementById('result_box')).append(draw_element);
                        interval_n++;
                        if(interval_n == interval_max){
                            clearInterval(intervalid);
                            $("#loading").hide();
                        }
                    }, 10000);
                });
        });
    });
    </script>

{% endblock %}

{% block body %}
    <nav>
        <div class="align-middle" id="compare_nav_box">
            <div class="row">
                <div class="col-4">
                <a href="/"><img src="../../static/images/nav_logo.png" style="max-height: 3.5rem; cursor: pointer;"></a>
                </div>
                <div class="col-4"></div>
                <div class="col-4">
                <form action="{{ url_for('search.process') }}" method="get">
                    <div id = "search_box" class="input-group mb-3">
                        <input name="search_words" type="text" class="form-control" placeholder="검색어" aria-label="Search Input" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </nav>
    <div id="contents">
        <header>
            <div class="compare_header">
                <h1>트렌드 검색 : 비교하기</h1>
                <div id="alert" class="alert alert-info" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  브랜드와 가격대별 특성을 알아보기 위해서 비교하기를 이용해보세요. 검색 결과가 선택창 아래에 표시됩니다.
                </div>
            </div>
        </header>
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item" id="item1">
                <a style="border: none;" class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"> 브랜드 </a>
              </li>
          <li class="nav-item" id="item2">
            <a style="border: none;" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"> 가격대 </a>
          </li>
        </ul>
        <section id="compare_option_box">
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <p>브랜드를 4개 선택할 수 있습니다.</p>
                <form class="search_form" action="{{ url_for('search.compare_process') }}" method="post">
                    <select class="form-control" id="first_brand" name="first_brand">
                        {% for brand in brands %}
                            <option {% if brand['brand'] == 'Apple' %}selected="selected"{% endif %}>{{ brand['brand'] }}</option>
                        {% endfor %}
                    </select>
                    <select class="form-control" id="second_brand" name="second_brand">
                        {% for brand in brands %}
                            <option {% if brand['brand'] == 'Dell' %}selected="selected"{% endif %}>{{ brand['brand'] }}</option>
                        {% endfor %}
                    </select>
                    <select class="form-control" id="third_brand" name="third_brand">
                        {% for brand in brands %}
                            <option {% if brand['brand'] == 'Lenovo' %}selected="selected"{% endif %}>{{ brand['brand'] }}</option>
                        {% endfor %}
                    </select>
                    <select class="form-control" id="forth_brand" name="forth_brand">
                        {% for brand in brands %}
                            <option {% if brand['brand'] == 'LG' %}selected="selected"{% endif %}>{{ brand['brand'] }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="compare_type" value="brand">
                    <button class="btn btn-primary mb-2" type="submit">찾아보기</button>
                </form>
              </div>
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                  <p>가격대를 2개 선택할 수 있습니다.</p>
                  <form class="search_form" action="{{ url_for('search.compare_process') }}">
                        <input type="text" class="js-range-slider" name="first_range" value=""
                            data-type="double"
                            data-min="0"
                            data-max="2000"
                            data-from="0"
                            data-to="500"
                            data-grid="true"
                        />
                        <input type="text" class="js-range-slider" name="second_range" value=""
                            data-type="double"
                            data-min="0"
                            data-max="2000"
                            data-from="1000"
                            data-to="1500"
                            data-grid="true"
                        />
                      <input type="hidden" name="compare_type" value="price">
                      <button class="btn btn-primary mb-2" type="submit">찾아보기</button>
                  </form>
              </div>
            </div>
        </section>
        <section id="result_box">
            <!--지우지 마세요-->
        </section>
        <section id="loading" style="display: none">
            <div class="row" style="width: 300px; margin: 20px auto 20px auto;">
                <div class="col-3 p-0" style="text-align: center;">
                    <div class="spinner-grow" style="display: inline-block; width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="d-flex col-9 p-0">
                    <span class="align-self-center">
                        데이터를 불러오는 중이예요.
                    </span>
                </div>
            </div>
        </section>

    </div>
    <footer>
        <span>모든 저작권이 ERICATREND에 있습니다. 무단 전제를 금합니다.</span>
    </footer>
{% endblock %}