{% extends 'layout.html' %}

{% block title %}
    제품 검색 결과
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../../static/product_view.css">
    {% if page == 1 %}
    <script>
    $(document).ready(function() {
        $("#related_keywords").hide().load('{{ url_for('search.get_related_queries', keyword=keyword) }}', function() {
            $(this).fadeIn('slow');
        });
    });
    </script>
    {% endif %}
{% endblock %}

{% block body %}
    <div id = "contents">
        <nav>
            <a href="{{ url_for('main.main') }}">메인 화면</a>
        </nav>
        <header>
            <h1>트랜드 검색 - {{ keyword }}</h1>
            <form action="{{ url_for('search.process') }}" method="get">
            <div id = "search_box" class="input-group mb-3">
                <input name="search_words" type="text" class="form-control" placeholder="검색어" aria-label="Search Input" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                </div>
            </div>
            </form>
        </header>
        <section>
        <div id="related_keywords">
        </div>
            {% for item in products_info %}
            <a href="{{ url_for('search.product_detail', newegg_id=item['newegg_id']) }}">
            <div class="card mb-12">
                <div class="row no-gutters">
                    <div class="col-md-2">
			    <img src="/static/img/{{item['newegg_id']}}.png" class="card-img" alt="{{ item['brand'] }} {{ item['model'] }}">
                    </div>

                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">{{ item['model'] }}</h5>
                            <p class="card-text">브랜드 : {{ item['brand'] }}</p>
                            <p class="card-text"><small class="text-muted">출시일 제공 준비중</small></p>
                        </div>
                    </div>

                </div>
            </div>
                </a>
            {% endfor %}
        </section>
        <nav id="page_nav" aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
                {% for number in range(page-2, page+3) %}
                    {% if number > 0 %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('search.process', search_words=keyword, page=number) }}">{{ number }}</a></li>
                    {% endif %}
                {% endfor %}
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>
{% endblock %}
