* { font-family: 'Noto Sans KR', sans-serif; }

html, body{
    height: 100%;
}
body {
    display: flex;
    flex-flow: column;
}

nav{
    background-color: #5C6BC0;
    height: 56px;
}

#compare_nav_box{
    width: 1280px;
    max-width: 80%;
    margin: auto;
}

nav  form{
    display: inline-block;
    margin-top: 9px;
    width: 100%;
}

#button-addon2 {
    color: white;
    border-color: #cccccc;
}

.alert-info{
    border-radius: 25px 25px 25px 25px;
}

.nav-link{
    color: black;
}



#compare_option_box{
    overflow: hidden;
    padding: 20px;
    background-color: #E8EAF6;
    border-radius: 0 0 20px 20px;
    transition: 0.5s;
}

select{
    margin: 20px;
    width: calc(100% - 40px) !important;
}

.irs--flat.irs-with-grid{
    margin: 20px;
}

button[type="submit"] {
    margin: 5px;
    padding: 10px;
    float: right;
    border-radius: 25px 25px 25px 25px;
    background-color: #C5CAE9;
    border: none;
}

button[type="submit"]:hover {
    border-radius: 25px 25px 25px 25px;
    background-color: #1A237E;
    border: none;
}

#pills-home-tab.nav-link{
    border-radius: 25px 0 0 0;
}

#item1{
    border-radius: 25px 0 0 0;
}

#pills-profile-tab{
    border-radius: 0 25px 0 0;
}

#item2{
    border-radius: 0 25px 0 0;
}


.nav-item{
    background-color: lightgrey;
}

.nav .nav-link.active, .nav .show > .nav-link{
    background-color: #E8EAF6;
}