* { font-family: 'Noto Sans KR', sans-serif; }

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
}

.navbar {
    background-color: #5C6BC0;
    height: 70px;
}

#compare_nav h3 a {
    color: white;
    text-decoration: none;
}

#button-addon2 {
    color: white;
    border-color: #cccccc;
}

.compare_header {

}

#generate_alert:hover + .alert-danger {
    display: block;
}

.nav-link{
    color: black;
}

.nav-item{
    border-radius: 25px 25px 0px 0px;
    background-color: lightgrey;
}

.nav .nav-link.active, .nav .show > .nav-link{
    background-color: #E8EAF6;
    border-radius: 25px 25px 0px 0px;
}

#search_box {
    color: white;
    margin-top: 3%;
}

#compare_option_box{
    overflow: hidden;
    padding: 20px;
    background-color: #E8EAF6;
    border-radius: 0px 0px 20px 20px;
    transition: 0.5s;
}

select{
    margin: 20px;
    width: calc(100% - 40px) !important;
}

.irs--flat.irs-with-grid{
    margin: 20px;
}

button[type="submit"] {
    margin: 5px;
    padding: 10px;
    float: right;
    border-radius: 25px 25px 25px 25px;
    background-color: #C5CAE9;
    border: none;
}

button[type="submit"]:hover {
    border-radius: 25px 25px 25px 25px;
    background-color: #1A237E;
    border: none;
}

