body{
}

#main{
    padding: 20% 20% 0 20%;
}

#main h1{
    text-align: center;
}

#search_box{
    margin: 25px;
}

#search_box input{
    padding: 25px;
    border-radius: 25px 0 0 25px;
}

#search_box .input-group-append button{
    border-radius: 0 25px 25px 0;
}

#tool_box{
    text-align: center;
}